################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IW4X-Fps-Boost/FileContentIndex/90809ce4-803a-4b7f-b801-def26ad45ea0.vsidx
/.vs/IW4X-Fps-Boost/FileContentIndex/read.lock
